<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ShopPayRecordMapper">
	<resultMap id="BaseResultMap" type="com.genyuanlian.consumer.shop.model.ShopPayRecord">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="member_id" property="memberId" jdbcType="BIGINT" />
		<result column="pay_num" property="payNum" jdbcType="VARCHAR" />
		<result column="pay_account" property="payAccount" jdbcType="VARCHAR" />
		<result column="account_type" property="accountType" jdbcType="INTEGER" />
		<result column="trade_no" property="tradeNo" jdbcType="VARCHAR" />
		<result column="order_no" property="orderNo" jdbcType="VARCHAR" />
		<result column="amount" property="amount" jdbcType="DECIMAL" />
		<result column="status" property="status" jdbcType="INTEGER" />
		<result column="remark" property="remark" jdbcType="VARCHAR" />
		<result column="call_req" property="callReq" jdbcType="VARCHAR" />
		<result column="call_resp" property="callResp" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
	</resultMap>
	<sql id="Base_Where">
		<if test="id != null"> and id= #{id}</if>	
		<if test="memberId != null"> and member_id= #{memberId}</if>	
		<if test="payNum != null and payNum !=''"> and pay_num= #{payNum}</if>
		<if test="payAccount != null and payAccount !=''"> and pay_account= #{payAccount}</if>
		<if test="accountType != null"> and account_type= #{accountType}</if>	
		<if test="tradeNo != null and tradeNo !=''"> and trade_no= #{tradeNo}</if>
		<if test="orderNo != null and orderNo !=''"> and order_no= #{orderNo}</if>
		<if test="amount != null"> and amount= #{amount}</if>	
		<if test="status != null"> and status= #{status}</if>	
		<if test="remark != null and remark !=''"> and remark= #{remark}</if>
		<if test="callReq != null and callReq !=''"> and call_req= #{callReq}</if>
		<if test="callResp != null and callResp !=''"> and call_resp= #{callResp}</if>
		<if test="createTime != null"> and create_time= #{createTime}</if>	
	</sql>
	<sql id="Base_Column_List">
		id ,
		member_id ,
		pay_num ,
		pay_account ,
		account_type ,
		trade_no ,
		order_no ,
		amount ,
		status ,
		remark ,
		call_req ,
		call_resp ,
		create_time 
	</sql>

	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from shop_pay_record
		where
		id = #{id,jdbcType=BIGINT}
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from shop_pay_record
		where
		id = #{id,jdbcType=BIGINT}
	</delete>

	<insert id="insertSelective" parameterType="com.genyuanlian.consumer.shop.model.ShopPayRecord" useGeneratedKeys="true" keyProperty="id">
		insert into shop_pay_record
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">id,</if>	
			<if test="memberId != null">member_id,</if>	
			<if test="payNum != null and payNum !=''">pay_num,</if>
			<if test="payAccount != null and payAccount !=''">pay_account,</if>
			<if test="accountType != null">account_type,</if>	
			<if test="tradeNo != null and tradeNo !=''">trade_no,</if>
			<if test="orderNo != null and orderNo !=''">order_no,</if>
			<if test="amount != null">amount,</if>	
			<if test="status != null">status,</if>	
			<if test="remark != null and remark !=''">remark,</if>
			<if test="callReq != null and callReq !=''">call_req,</if>
			<if test="callResp != null and callResp !=''">call_resp,</if>
			<if test="createTime != null">create_time,</if>	
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=BIGINT},
			</if>
			<if test="memberId != null">
				#{memberId,jdbcType=BIGINT},
			</if>
			<if test="payNum != null and payNum !=''">
				#{payNum,jdbcType=VARCHAR},
			</if>
			<if test="payAccount != null and payAccount !=''">
				#{payAccount,jdbcType=VARCHAR},
			</if>
			<if test="accountType != null">
				#{accountType,jdbcType=INTEGER},
			</if>
			<if test="tradeNo != null and tradeNo !=''">
				#{tradeNo,jdbcType=VARCHAR},
			</if>
			<if test="orderNo != null and orderNo !=''">
				#{orderNo,jdbcType=VARCHAR},
			</if>
			<if test="amount != null">
				#{amount,jdbcType=DECIMAL},
			</if>
			<if test="status != null">
				#{status,jdbcType=INTEGER},
			</if>
			<if test="remark != null and remark !=''">
				#{remark,jdbcType=VARCHAR},
			</if>
			<if test="callReq != null and callReq !=''">
				#{callReq,jdbcType=VARCHAR},
			</if>
			<if test="callResp != null and callResp !=''">
				#{callResp,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			
		</trim>
	</insert>

	<update id="updateByPrimaryKeySelective" parameterType="com.genyuanlian.consumer.shop.model.ShopPayRecord">
		update shop_pay_record
		<set>
			<if test="memberId != null">
				member_id= #{memberId,jdbcType=BIGINT},
			</if>
			<if test="payNum != null and payNum !=''">
				pay_num= #{payNum,jdbcType=VARCHAR},
			</if>
			<if test="payAccount != null and payAccount !=''">
				pay_account= #{payAccount,jdbcType=VARCHAR},
			</if>
			<if test="accountType != null">
				account_type= #{accountType,jdbcType=INTEGER},
			</if>
			<if test="tradeNo != null and tradeNo !=''">
				trade_no= #{tradeNo,jdbcType=VARCHAR},
			</if>
			<if test="orderNo != null and orderNo !=''">
				order_no= #{orderNo,jdbcType=VARCHAR},
			</if>
			<if test="amount != null">
				amount= #{amount,jdbcType=DECIMAL},
			</if>
			<if test="status != null">
				status= #{status,jdbcType=INTEGER},
			</if>
			<if test="remark != null and remark !=''">
				remark= #{remark,jdbcType=VARCHAR},
			</if>
			<if test="callReq != null and callReq !=''">
				call_req= #{callReq,jdbcType=VARCHAR},
			</if>
			<if test="callResp != null and callResp !=''">
				call_resp= #{callResp,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				create_time= #{createTime,jdbcType=TIMESTAMP}
			</if>
		</set>
		where
		id = #{id,jdbcType=BIGINT}
	</update>

	<select id="getAll" resultMap="BaseResultMap" parameterType="map">
		select
		<include refid="Base_Column_List" />
		from shop_pay_record where 1=1
		<include refid="Base_Where" />
	</select>
	<select id="pageCount" resultType="java.lang.Integer" parameterType="map">
		select count(1) from shop_pay_record where 1=1
		<include refid="Base_Where" />
	</select>
	<select id="pageData" resultMap="BaseResultMap" parameterType="map">
		select
		<include refid="Base_Column_List" />
		from shop_pay_record where 1=1
		<include refid="Base_Where" />
		order by create_time DESC
		LIMIT #{pageIndex,jdbcType=INTEGER},#{pageSize,jdbcType=INTEGER}		
	</select>

	<select id="selectByIds" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from shop_pay_record where id in
		<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
			#{item}
		</foreach>
	</select>

	<select id="getList" resultMap="BaseResultMap">
		select r.*,m.mobile
		from shop_pay_record r
		inner join shop_member m on r.member_id=m.id
		where 1=1 and r.status>0
		<if test="startDate != null and startDate !=''">AND r.create_time<![CDATA[>=]]>#{startDate}</if>
		<if test="endDate != null and endDate !=''">AND r.create_time<![CDATA[<=]]>#{endDate}</if>
		<if test="orderNo != null and orderNo !=''"> AND r.order_no= #{orderNo}</if>
		<if test="mobile != null and mobile !=''"> AND m.mobile= #{mobile}</if>
	</select>
</mapper>
