<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ShopPuCardTradeRecordMapper">
	<resultMap id="BaseResultMap" type="com.genyuanlian.consumer.shop.model.ShopPuCardTradeRecord">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="member_id" property="memberId" jdbcType="BIGINT" />
		<result column="pu_card_id" property="puCardId" jdbcType="BIGINT" />
		<result column="title" property="title" jdbcType="VARCHAR" />
		<result column="amount" property="amount" jdbcType="DECIMAL" />
		<result column="transaction_no" property="transactionNo" jdbcType="VARCHAR" />
		<result column="remark" property="remark" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
	</resultMap>
	<sql id="Base_Where">
		<if test="id != null"> and id= #{id}</if>	
		<if test="memberId != null"> and member_id= #{memberId}</if>	
		<if test="puCardId != null"> and pu_card_id= #{puCardId}</if>	
		<if test="title != null and title !=''"> and title= #{title}</if>
		<if test="amount != null"> and amount= #{amount}</if>	
		<if test="transactionNo != null and transactionNo !=''"> and transaction_no= #{transactionNo}</if>
		<if test="remark != null and remark !=''"> and remark= #{remark}</if>
		<if test="createTime != null"> and create_time= #{createTime}</if>	
	</sql>
	<sql id="Base_Column_List">
		id ,
		member_id ,
		pu_card_id ,
		title ,
		amount ,
		transaction_no ,
		remark ,
		create_time 
	</sql>

	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from shop_pu_card_trade_record
		where
		id = #{id,jdbcType=BIGINT}
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from shop_pu_card_trade_record
		where
		id = #{id,jdbcType=BIGINT}
	</delete>

	<insert id="insertSelective" parameterType="com.genyuanlian.consumer.shop.model.ShopPuCardTradeRecord">
		insert into shop_pu_card_trade_record
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">id,</if>	
			<if test="memberId != null">member_id,</if>	
			<if test="puCardId != null">pu_card_id,</if>	
			<if test="title != null and title !=''">title,</if>
			<if test="amount != null">amount,</if>	
			<if test="transactionNo != null and transactionNo !=''">transaction_no,</if>
			<if test="remark != null and remark !=''">remark,</if>
			<if test="createTime != null">create_time,</if>	
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=BIGINT},
			</if>
			<if test="memberId != null">
				#{memberId,jdbcType=BIGINT},
			</if>
			<if test="puCardId != null">
				#{puCardId,jdbcType=BIGINT},
			</if>
			<if test="title != null and title !=''">
				#{title,jdbcType=VARCHAR},
			</if>
			<if test="amount != null">
				#{amount,jdbcType=DECIMAL},
			</if>
			<if test="transactionNo != null and transactionNo !=''">
				#{transactionNo,jdbcType=VARCHAR},
			</if>
			<if test="remark != null and remark !=''">
				#{remark,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			
		</trim>
	</insert>

	<update id="updateByPrimaryKeySelective" parameterType="com.genyuanlian.consumer.shop.model.ShopPuCardTradeRecord">
		update shop_pu_card_trade_record
		<set>
			<if test="memberId != null">
				member_id= #{memberId,jdbcType=BIGINT},
			</if>
			<if test="puCardId != null">
				pu_card_id= #{puCardId,jdbcType=BIGINT},
			</if>
			<if test="title != null and title !=''">
				title= #{title,jdbcType=VARCHAR},
			</if>
			<if test="amount != null">
				amount= #{amount,jdbcType=DECIMAL},
			</if>
			<if test="transactionNo != null and transactionNo !=''">
				transaction_no= #{transactionNo,jdbcType=VARCHAR},
			</if>
			<if test="remark != null and remark !=''">
				remark= #{remark,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				create_time= #{createTime,jdbcType=TIMESTAMP}
			</if>
		</set>
		where
		id = #{id,jdbcType=BIGINT}
	</update>

	<select id="getAll" resultMap="BaseResultMap" parameterType="map">
		select
		<include refid="Base_Column_List" />
		from shop_pu_card_trade_record where 1=1
		<include refid="Base_Where" />
	</select>
	<select id="pageCount" resultType="java.lang.Integer" parameterType="map">
		select count(1) from shop_pu_card_trade_record where 1=1
		<include refid="Base_Where" />
	</select>
	<select id="pageData" resultMap="BaseResultMap" parameterType="map">
		select
		<include refid="Base_Column_List" />
		from shop_pu_card_trade_record where 1=1
		<include refid="Base_Where" />
	</select>

	<select id="selectByIds" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from shop_pu_card_trade_record where id in
		<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
			#{item}
		</foreach>
	</select>

</mapper>
